.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.everytime-title {
  color: #f91f15;
  font-size: 12px;
  font-weight: 700;
  margin: 20px 0px 0px 3px;
}

.everytime-name {
  color: #292929;
  font-size: 22px;
  font-weight: 600;
}

.logo-smile {
  margin-right: 8px;
}

.logo-smile img {
  height: 30px;
  width: auto;
}

.header-menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 0;
}

.header-menu a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.user-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 9999;
}

.user-icon a img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 0;
  padding: 20px;
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #444444;
  font-size: 13px;
  font-weight: lighter;
}

.nav-group {
  width: 180px;
  border-right: 1px solid #ccc;
  padding-right: 20px;
  box-sizing: border-box;
}

.nav-group1 {
  padding-right: 30px;
}

.nav-group-rightnone {
  border-right: none;
}

.nav-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-group li {
  margin-bottom: 6px;
  line-height: 1.4;
}

.nav-group li a {
  text-decoration: none;
  color: #222;
  font-size: 14px;
}

.secret-board {
  width: 800px;
}

.doublesecret-box {
  box-sizing: border-box;
  display: block;
  gap: 8px;
  border: 1px solid #d6d6d6;
  margin-bottom: 5px;
  padding: 15px 0px 15px 15px;
}

.secret-title {
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #d6d6d6;
}

.secret-box {
  display: flex;
  padding: 10px 16px;
  max-width: 100%;
  font-size: 14px;
  color: #444;
  line-height: 1.4;
  color: #333;
  word-break: break-word;
  border-radius: 12px;
}

.secret-box .green {
  background-color: #e9fdfd;
}

.secret-box .pink {
  background-color: #fff0f0;
}

.secret-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-position: center;
  background-size: contain;
  margin-top: 10px;
}

.secret-text {
  margin-top: -1px;
  box-sizing: border-box;
  border-top: 1px solid #e3e3e3;
  background-color: #fff;
  margin: 0;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  word-break: break-word;
}

.write-box {
  background-color: #f9f9f9;
  border: 2px solid #d6d6d6;
  height: 50px;
  line-height: 46px;
  padding: 0 10px;
  display: block;
  margin-bottom: 5px;
  color: #999;
  box-sizing: border-box;
  cursor: text;
  font-size: 14px;
  background-size: 40px 40px;
}

.pencil-icon {
  width: 30px;
  height: auto;
  padding-left: 10px;
}

.pencilholder {
  margin-bottom: 5px;
  padding-left: 10px;
  display: block;
}

.secret-text {
  display: block;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #ddd;
  padding: 16px 24px;
  background-color: #fff;
}

.post-title {
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
  color: #222;
  text-align: left;
}

.post-text {
  margin-bottom: 4px;
  line-height: 20px;
  font-size: 14px;
  color: #444;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
  word-break: break-word;
}

.secret-meta {
  display: flex;
  font-weight: 500;
  align-items: center;
  gap: 8px;
}

.dash-between {
  font-size: 10px;
  color: #999;
  display: flex;
  align-items: center;
}

.meta {
  font-size: 12px;
  color: #999;
  display: flex;
  gap: 10px;
}

.aside-title {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 24px;
  flex-direction: column;
  max-width: 323px;
  border-color: #222;
}

.aside-title h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 12px 0px 0px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #056ab5;
}

.popular-post {
  list-style: none;
  text-align: left;
  border-top: 1px solid #e3e3e3;
}

.everytime-text {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
  margin: 0px -386px 25px 0px;
  padding: 25px;
  width: 1180px;
  gap: 20px;
}

.aside-hot-text {
  display: block;
  margin: 0;
  padding: 0;
}

.right-article {
  width: 325px;
  padding: 20px;
  flex-direction: column;
  font-size: 14px;
}

.popular-post {
  border-top: 1px solid #ddd;
  padding: 10px;
  display: blocks;
}

.popular-title {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 13px;
  color: #222;
}

.popular-text {
  font-size: 12px;
  color: #737373;
  line-height: 1.4;
  margin-bottom: 5px;
  font-weight: 500;
}

.post-meta {
  font-size: 11px;
  color: #999;
  margin-bottom: 4px;
  padding: 0;
}

.likes {
  width: 12px;
  height: 12px;
}

.comments {
  width: 12px;
  height: 12px;
}

.hot-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hot-list li {
  padding: 8px 0;
  border-top: 1px solid #e3e3e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #444444;
  font-weight: 500;
  gap: 10px;
}

.date {
  color: #999;
  font-size: 11px;
}

.likes-detail {
  color: #f91f15;
  font-size: 11px;
  margin-right: 5px;
}

.comments-detail {
  color: #05bcbc;
  font-size: 11px;
  margin-right: 5px;
}

.aside-meta {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.more {
  text-decoration: none;
  color: #a6a6a6;
  font-size: 12px;
  font-weight: lighter;
}
